*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-color: #191A1C;
}
.conteiner{
    max-width: 1000px;
    margin: auto;
}

/* Header area */

header .navfixed{
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 100094;
    top: 0;
    left: 0;
    right: 0;
}
header .navfixed .header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    padding: 35px;
}
header .navfixed .header-menu .logo span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #9A9FA3;
}
header .navfixed .header-menu .menu{
    cursor: pointer;
}
header .navfixed .header-menu .menu span{
    display: block;
    margin-bottom: 4px;
    height: 0.15em;
    width: 1.45em;
    background-color: #9A9FA3;
}
header .navfixed .conteiner .header-menu .menu span:nth-of-type(2){
    transform: translate(-25%);
    transition: transform 0.4s ease-out;
}

header .navfixed .conteiner .header-menu .menu:hover span:nth-of-type(2){
    transform: translate(25%);
}

/* Menu */

.menu-closed{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;   
    background-color: #222222;
    opacity: .9;
}
.menu-closed ul{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.menu-closed ul li{
    color: #DCDCDC;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease .3s;
    margin: 15px;
}
.menu-closed ul li:hover{
    color: #FF3D4F;
}
.opened{
    display: flex;
    height: 100vh;
}
/* Header follow area */

.header-follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 0.625em;
    height: 28.375vh;
    transform: translateY(-50%);
}
.header-follow ul li{
    list-style: none;
    margin-bottom: 2vh;
}
.header-follow ul li a img{
    height: 2.5vh;
    transition: transform .3s ease-in-out;
}
.header-follow ul li a:hover img{
    transform: scale(1.3);
}
.header-follow span{
    color: #9A9FA3;
    position: relative;
    top: 3vh;
    transform: rotate(-90deg);
}

/* content */

.Wellcome{
    display: flex;
    flex-direction: row;
}
.Wellcome .left-area{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #DCDCDC;
}
.Wellcome .left-area button{
    width: 50%;
    height: 3rem;
    padding: .5rem;
    margin-top: 150px;
    background-color: #191A1C;
    color: #DCDCDC;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: .2rem;
    cursor: pointer;
    transition: all ease .2s;
}
.Wellcome .left-area button:hover{
    opacity: .5;
    border: 2px solid #DCDCDC;
}
.Wellcome .right-area{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Wellcome .right-area .balon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #222222;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.Wellcome .right-area .balon img{
    height: 100%;
    object-fit: cover;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

/* Tech Grid Area */

.tech-grid{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 15px;
    max-width: 315px;
    margin: auto;
    justify-content: center;
}
.tech-grid .item img{
    width: 100%;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DCDCDC;
}
.projects h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
    margin-bottom:25px ;
}
.projects .projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}
.projects .projects-grid .projects-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: transparent solid 2px;
    border-radius: 10px;
    background-color: #222222;
}
.projects .projects-grid .projects-item:hover{
    border: #9A9FA3 2px solid;
}
.projects .projects-grid .projects-item:hover .desc-project{
    display: flex;
}
.projects-item img{
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
}
.desc-project{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #e2ddd9;
    color: #222222;
    opacity: .8;
    border-radius: 5px;
    transition: all ease-in-out 1s;
}
.desc-project h1{
    margin: 25px 0;
}
.desc-project .tech-project{
    margin: 25px 0;
    padding: 5px;
    background-color: #222222;
    color: #DCDCDC;
    border-radius: 5px;
}
/* About area */

.About{
    color: #DCDCDC;
    margin-top: 25px;
}
.About h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.About h2{
    font-size: 1.25rem;
    color: #9A9FA3;
}
.About h1, h2, p{
    text-align: center;
}
.About p{
    margin-top: 30px;
    font-size: 1.5rem;
}
.About > p:last-of-type{
    color: #9A9FA3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 30px;
}
.About p > span:first-child{
    color: #0CC7DD;
}
.About p > span:last-child{
    color: #459f38;
}
.contact{
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.contact h1{
    text-align: center;
    color: #DCDCDC;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.contact .contact-area{
    border: #9A9FA3 2px solid;
    border-radius: 10px;
    background-color: #222222;
    height: 310px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-area h4{
    margin: 25px 0;
    color: #9A9FA3;
    text-transform: uppercase;
}
.contact-area a{
    text-decoration: none;
    color: #DCDCDC;
}
.contact-area ul{
    list-style: none;
    display: flex;
}
.contact-area ul li{
    margin-left: 15px;
    transition: transform .3s ease-in-out;
}
.contact-area ul li:hover{
    transform: scale(1.3);
}
.contact .contact-area h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .contact-area h4 img{
    object-fit: contain;
    height: 3vh;
    margin-right: 15px;
}
.contact .contact-area span{
    color: #DCDCDC;
}

/* Responsividade do site */

@media only screen and (max-width: 1151px) {
    .header-follow {
    display: none;
    }
    .Wellcome .left-area h1{
        font-size: 1.7rem;
        text-align: center;
    }
}
@media only screen and (max-width: 1024px){

    .Wellcome .left-area h1{
        padding: 25px;
        text-align: center;
    }
    .Wellcome .left-area buttom{
        margin-top: 100px;
    }
    .projects .projects-grid{
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 650px;
    }
    .projects .projects-grid .projects-item{
        margin-bottom: 25px;
    }
    .About h2{
        padding: 0 25px;
    }
    .About p{
        padding: 0 25px;
    }
}
@media only screen and (max-width: 768px){
    .Wellcome{
        flex-direction: column;
        align-items: center;
    }
    .Wellcome .left-area h1{
        padding: 0;
        margin-top: 50px;
        min-width: 350px;
    }
    .Wellcome .left-area button{
        margin: 25px 0;
        font-size: .8rem;
    }
    .menu-closed ul{
        flex-direction: column;
    }
    .projects{
        justify-content: center;
        height: 75vh;
    }
    .projects .projects-grid .projects-item{
        width: 90%;
    }
    .contact .contact-area{
        width: 75%;
    }
}
@media only screen and (max-width: 376px){
    .Wellcome .left-area h1{
        min-width: 300px;
    }
    .Wellcome .right-area .balon{
        height: 400px;
    }
}